body {
  box-sizing: border-box;
}

.container {
  display: grid;
  place-items: center;
  align-content: center;
  height: 100vh;
  margin: 0;
}


.box {
  border: 1px solid black;
  width: 400px;
  height: 450px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 3px;
  border-radius: 5px;
}

.formula{
  font-size: 1.5rem;
  text-align: right;
  margin: 1rem 0 0;
  padding-right: 0.5rem;
}

.operation{
  
 margin-left: 0.25rem;
}

.output {
  width: 99%;
  
  text-align: right;
  border:none;
  padding-right: 2px;
  margin: .5rem 0;
}
.small-font{
  font-size: 3rem !important;
}

.normal-font{
  font-size: 4rem;

}



.output:focus-visible{
  outline: none;
}

.no-spinner {
  -moz-appearance: textfield; 
}

.grid-btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}


.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Ẩn các nút trên Chrome, Safari, Edge */
  margin: 0;
}

button {
  font-size: 2rem;
  padding-top: .8rem;
  border-radius: 5px;
}

#equals {
  grid-column: 3/5;
}